@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-section {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    /* This will space out the text and button */
    align-items: center;
    padding: 100px 100px;
    /* Adjust the padding to suit the design */
    margin: 0px 100px;
    animation: fadeInUp 1s ease-out;
    /* 1s is the duration of the animation, and ease-out makes it smooth */
}

.hero-text {
    flex: 1;
    /* Allow the text to take up available space */
    max-width: 50%;
    /* Restrict the text width */
}

h1 {
    font-family: "Bellefair";
    font-size: 140px;
    font-weight: normal;
    margin: 0 0;
}

h2 {
    font-family: "Barlow";
    color: #D0D0F9;
    line-height: 33.6%;
    /* Line height */
    letter-spacing: 1px;
    /* Letter spacing */
    font-weight: 300;
}

p {
    font-family: "Barlow";
    color: #D0D0F9;
    font-size: 18px;
}

.explore-button-container {
    display: flex;
    justify-content: flex-end;
    /* Align the button to the right */
    flex: 1;
    /* Allow the button container to take up remaining space */
}

.explore-button {
    background-color: white;
    color: black;
    border: none;
    width: 200px;
    /* Adjust the width for the size you need */
    height: 200px;
    /* Adjust the height to match the width */
    border-radius: 50%;
    /* Make the button a circle */
    font-size: 27px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    font-family: "Bellefair";
}

.explore-button:hover {
    transform: scale(1.1);
}